{% extends 'index.html' %}

{% block content %}
<div id="tableResult" style="width:25%;right:0;"></div>
<div class="main-content">
    <h1>Приклад</h1>
    <br />
    <br />

    <form id="solve-form" method="post" action="/calculate/example">
        <span>x' = 2 * x ( t - 1 ) + y ( t - 1 ) + 2 * y ( t - 2 ) + 6 * t</span>
        <br />
        <span>y' = 4 * x ( t - 1 ) + 2 * x ( t - 2 ) + y ( t - 1 ) + 2 * t</span>

        <br />
        <span>Початкова функція:</span>
        <br />
        <span>x ( t ) = t + 2</span>
        <br />
        <span>y ( t ) = 2 * t</span>
        <br />
        <span>Крок h:</span>
        <input class="inputs" id="h" name="h" placeholder="h" required size="10">
        <br />
        <input type="submit" value="Знайти" class="btn btn-outline-success my-2 my-sm-0">
    </form>

    <p id="result"></p>

    <img id="plot" />
</div>


{% endblock %}